/*INDEX*/

body {
  overflow-x: hidden; /* Hide scrollbars */
  height: 100%;
}

.container-fluid img{
	margin: auto;
	width: 30%;
	height: 63%;
	padding: 2%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: solid 1px #000;
	border-radius: 10px;
}

.container-fluid h6 {
	margin-top: 5%;
	text-align: center;
}

h6 {
	padding: 1%;
}

/* MENU */
.top-menu a {
	text-decoration: none;
}

.top-menu a:hover {
	border-bottom: solid 1px #000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.top-menu a:link {
	color: #000;
}

.top-menu a:visited {
	color:  #000;
}

span {
	color: #000 !important;
}

#home {
	margin: 0% auto 0%;
	width: 62%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* underline pagemark */
#menubg {
  border-bottom: solid 1px #000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

/* Search Bar */


.search {
	width: 100%;	
	align-items: center;
	display: flex;	
	justify-content: center;
	margin-top: 1%;	
}
.form-floating{
	width: 80%;
}


/* PJe Externos */
.content {
	padding: 0% 5% 5%;	
	margin-top: 1%;
}



/*Conteúdo do Collapse*/

h5 {
	float: left;
	padding: 1%;
	margin-left: 1%;
}


textarea {
	width: 100%;
	border: none;
	padding: 2%;
	float: left;	
	overflow: auto;
	resize: none;
	outline: none;
}


a .copyIcon {	
	height: auto;
	width: 36px;
	height: 36px;	
	margin-bottom: 35%;
	padding: 5%;
	text-align: center;
	float: right;
}



.card-body {
	padding: 1%;
	text-align: justify;
	font-size: 80%;
	width: 100%;
}


/* carousel */
#carousel-content{
	width: 95%;	
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;

}

#carousel-content img{
	width: 100%;
	
}


/* Tutorial PJe */
.content-pje {
	margin-left: 3%;
}


/**/
.footerOne {
	text-align: center;
	width: 100%;
	font-size: 9px;
	margin-bottom: 1%;
	color: #bbc;
}


.footer {
	text-align: center;
	width: 100%;
	font-size: 9px;
	bottom: 0;
	position: fixed;
	margin-bottom: 1%;
	color: #bbc;
}
