/*INDEX*/
.container-fluid{

}

.container-fluid img{
	margin: auto;
	width: 30%;
	height: 60%;
	padding: 3%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: solid 1px #000;
	border-radius: 10px;
}

.container-fluid h5 {
	margin-top: 5%;
	text-align: center;
}

.top-menu a {
	text-decoration: none;
}

.top-menu a:link {
	color: #000;
}

.top-menu a:visited {
	color:  #000;
}


#home {
	margin: auto;
	width: 65%;
}

/* Search Bar */
.searchBar {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


/* PJe Externos */
.content {
	padding: 5%;
	height: 100%;
}



/*Conteúdo do Collapse*/

h5 {
	float: left;
	padding: 1%;
	margin-left: 1%;
}

h6 {
	float: left;
	padding: 1%;
	margin-left: 2%;
}




textarea {
	width: 100%;
	border: none;
	padding: 2%;
	float: left;	
	overflow: auto;
	resize: none;
	outline: none;
}


a .copyIcon {	
	height: auto;
	width: 36px;
	height: 36px;	
	margin-bottom: 35%;
	padding: 5%;
	text-align: center;
	float: right;
}



.card-body {
	padding: 1%;
	text-align: justify;
	font-size: 80%;
	width: 100%;
}




/**/
footer {
	text-align: center;
	font-size: 10px;
	margin: 2%;
}